#campusJoin_wrapper {
    .page-header {
        background-image: linear-gradient(to right, #1e2973 0%, #319acf 36%, #1e2973 73%);

        .web-logo {
            width: 180px;
            margin: 5px;
        }

        @media (max-width: 767px) {
            min-height: 84px;

            .web-logo {
                width: 110px;
                margin: 15px 0px;
            }
        }
    }

    .from-area {
        background-color: #f5f5f5;
        padding: 2rem;
        margin: 50px auto;
        box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
        width: 60%;

        .input-group-text {
            border: 0px;
            color: #083a6e;
            font-weight: bold;
            justify-content: flex-end;

            i {
                color: red;
            }
        }

        .form-control {
            border: 0px;

            &:disabled {
                color: #b2b2b2;
            }
        }

        .action-bar {
            overflow: hidden;
        }

        .box {
            padding: 1rem;
            margin: 1rem 0px;
            background: #dadada;
        }

        .btn-custom {
            width: 300px;
            display: block;
            margin: 0px auto;

            &:disabled {
                cursor: default;
            }
        }

        .ps {
            line-height: 38px;
            font-size: 12px;
            color: red;
            background: #ffffff;
            padding: 0px 20px;
        }

        .empty {
            border: 2px solid #ff00008a;
        }
    }

    .success {
        h3 {
            font-weight: bolder;
            color: #1e2973;
            text-align: center;
            margin-bottom: 2rem;
        }

        h4 {
            text-align: center;
            margin: 3rem auto 0rem auto;
            font-weight: bolder;
            color: #1e2973;
        }

        p {
            text-align: center;
            font-weight: 700;
        }

        .img-box {
            display: flex;

            .img {
                width: 50%;
            }
        }
    }

    @media screen and (max-width: 767px) {
        .from-area {
            width: 95%;
            margin: 10px auto;
            padding: 0.5rem;

            .btn-custom {
                width: 100%;
            }

            .input-group {
                flex-direction: column;

                .input-group-prepend {
                    display: block;
                    text-align: initial;
                }
            }

            .input-group-text {
                justify-content: initial;
            }
        }

        .success {
            .img-box {
                flex-direction: column;

                .img {
                    width: 100%;
                }
            }

            p {
                text-align: justify;
            }
        }
    }
}
