%make-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
}

%headler-btn{
    border-radius: 30px;
    font-weight: 600;
    padding: 10px 25px;
    color:#ffffff;
    opacity: 0.8;

    &:hover{
        background-color:#ff6a00;
    }
}

%wrapper-title{
    text-align: center;
    padding: 20px 0px;
    font-weight: bolder;
}

%slick-style{
    .slick-list{
        width: 90%;
        margin: 0px auto;
        cursor: all-scroll;
    }

    .slick-arrow{
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        font-size: 23px;
        z-index: 1;
        cursor: pointer;
    }

    .arrow-left{
        left:20px;
    }
    
    .arrow-right{
        right:20px;
    }

    .slick-custom-dots{
        position: absolute;
        padding: 15px 0px;
        text-align: center;
        color: #a0a0a0;
        display: flex;
        list-style-type: none;
        left: 50%;
        transform: translateX(-50%);
        font-size: 13px;

        li{
            margin: 0px 3px;
        }

        .slick-active{
            color: #000000;
        }
    }
}
  

.banner{
    position: relative;
    overflow: hidden;

    .img-responsive{
        height:670*0.9px ;
    }

    .cover{
        position: absolute;
        top:0px;
        left:0px;
        width: 100%;
        height:670*0.9px;
        background-color: #00000021;
    }

    .heading-title{
         @extend %make-center;
        top: 22%;
        font-size: 42px;
        font-weight: 700;
        text-shadow: 0 0 7px black;
        width: fit-content;
    }

    .heading-description{
        @extend %make-center;
        top: 40%;
        font-size: 30px;
        font-weight: 600;
        width: fit-content;
    }

    .heading-container{
        @extend %make-center;
        width: fit-content;
        top: 58%;

        .btn-loan{
            @extend %headler-btn;
            background-color: #ffeb01;
            margin-right: 60px;
        }

        .btn-invest{
            @extend %headler-btn;
            background-color: #0419b2;
        }
    }

    .heading-info{
        @extend %make-center;
        top: 85%;
        text-align: center;
        width: fit-content;
        text-shadow: 0 0 3px black;
        font-weight: 600;
        font-size: 22px;
        color: #e0e0e0;
    }

    
        
    @media (max-width: 767px) {
        .heading-title{
            font-size: 25px;
        }

        .heading-description{
            font-size: 23px;
            top:34%;
        }
        .heading-container{
            top: 52%;
        }
        .heading-info{
            top: 78%;
        }
    }

}

.experience-wrapper{
    width: 100%;
    margin: 50px 0px;
    min-height: 377px;
    overflow: hidden;
    
    h2{
        @extend %wrapper-title
    }
    
    .experience-slick{

        .slick-item{
            margin: 0px 10px;

            .slick-title{
                display: flex;
                margin: 0px 35px;

                img{
                    height: 105px;
                    width: 105px;
                }

                div{
                    width: 50%;
                    margin-left: 10px;
                    text-align: center;
                    font-size: larger;
                    font-weight: bolder;

                    p{
                        color: #002E58;
                        padding-top:10px;
                    } 
                }
            }

            .slick-content{
                padding-top: 15px;

                div{
                    width: 0; 
                    height: 0; 
                    margin: 0px auto;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 13px solid #002E58;
                }

                p{
                    background: #002E58;
                    color: #ffffff;
                    padding: 10px;
                }
            }
        }
        
        @extend %slick-style;
    }
}

.service-items-wrapper{
    width: 100%;
    margin: 50px 0px;
    min-height: 377px;
    overflow: hidden;

    .service-slick{
        @extend %slick-style;

        .slick-item{
            position: relative;
            img {
                width:228px;
            }

            div{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: #ffffff;
            }
        }
        
        @media (min-width: 767px) {
            .slick-custom-dots{
                display: none;
            }
        }

        @media (max-width: 767px) {
            .slick-item{
                img {
                    margin:0px auto;
                }
            }
        }
    }
}

.profession-wrapper{
    margin-top: 50px;
    overflow: hidden;

    .profession-title{
        background-color: #002E58;
        color: #ffffff;
        margin: 55px auto;
        padding: 20px 60px;
        width: fit-content;
        border-bottom-right-radius: 24px;
        text-align: center;

        p{
            font-size: 22px;
            font-weight: 700;
        }

        span{
            font-size: 18px;
        }
    }

    .profession-content{
        display: flex;

        div{
            text-align: center;
            box-shadow: 0 0 5px #293e5d;
            padding: 10px 50px;
            margin: 0px 50px;

            img{
                max-width:81%;
                height: auto;
            }

            p{
                color: #002E58;
                font-size: 19px;
                text-align: center;
                font-weight: 700;
            }
        }
    }

    .profession-footer{

        .profession-slick{
            display: flex;
            padding: 50px 0px;

            @extend %slick-style;

            .slick-item{
                margin: 0px 10px;
                cursor: default;
            }
    
            .slick-list{
                width: 100%;
            }
            
            @media (min-width: 767px) {
                .slick-custom-dots{
                    display: none;
                }
            }
        }
    }

    @media (max-width: 767px) {
        .profession-title{
            padding: 20px 15px;
        }

        .profession-content{
            display: block;

            div{
                margin: 25px 10px;
            }
        }

        .profession-footer{
            .profession-slick{
                display: block;
            }
        }
    }
}

.message-wrapper{
    overflow: hidden;

    h2{
        @extend %wrapper-title
    }

    .message-content{
        display: flex;

        .content-row{
            width: 25%;
            margin: 10px;
            background: #F7F7F7;

            div{
                padding: 15px;
                text-align: justify;

                a{
                    color:#ffffff;
                    margin-top: 10px;
                }
            }
        }
    }

    @media (max-width:767px) {
        h2{
            font-size: 26px;
        }

        .message-content{
            display: block;

            .content-row{
                width: 100%;
            }
        }
    }
}

.share-wrapper{
    overflow: hidden;

    h2{
        @extend %wrapper-title
    }

    .share-content{
        display: flex;

        .content-row{
            width: 25%;
            margin: 10px;

            iframe{
                width: 100%;
                height: 196px;
            }

            div{
                padding: 15px;
                text-align: justify;

                a{
                    color:#ffffff;
                    margin-top: 10px;
                }

                p{
                    margin-bottom: 0px;
                    font-weight: bold;
                }

                span{
                    color: #a7a7a7;
                }
            }
        }
    }

    @media (max-width:767px) {
        h2{
            font-size: 26px;
        }

        .share-content{
            display: block;

            .content-row{
                width: 100%;
                margin: 0px;
            }
        }
    }
}

.news-wrapper{
    width: 100%;
    margin: 50px 0px;
    min-height: 400px;
    overflow: hidden;

    h2{
        @extend %wrapper-title
    } 

    .news-slick{

        .slick-item{
            margin: 0px 15px;

            a{
                color:#000000;
                font-weight: bolder;
                &:hover{
                    text-decoration: none;
                }
            }
        }

        @extend %slick-style;
    }
}

.join-wrapper{
    overflow: hidden;
    position: relative;

    img{
        height: 400px;
    }

    h2{
        @extend %wrapper-title;
        @extend %make-center;
        width: fit-content;
        top: 30%;
    }

    p{
        @extend %make-center;
        width: fit-content;
        top: 45%;
    }

    .btn-wrapper{
        @extend %make-center;
        width: fit-content;
        top: 67%;

        .btn-loan{
            @extend %headler-btn;
            background-color: #ffeb01;
            margin-right: 60px;
        }

        .btn-invest{
            @extend %headler-btn;
            background-color: #0419b2;
        }
    }

    @media (max-width: 767px) {
        img{
            height: 300px;
        }
    }
}