.invest-wrapper{
    width: 100%;
    
    .compare-wrapper{
        width: 100%;

        .desktop{
            padding: 0px 10%;
        }
    }

    .invest-slick{
        padding: 50px 0px;

        @extend %slick-style;

        .slick-item{
            margin: 0px 10px;
            cursor: default;
        }

        .slick-list{
            width: 100%;
        }
    }

    .loan-banner img{
        width: 100% !important;
    }

    @media (max-width:767px) {
        .banner-content p{
            text-align: left !important;
        }

        .apply-title p{
            width: 80% !important;
        }

        .desktop{
            display: none;
        }

        .loan-banner img{
            width: auto !important;
            height: 100%;
            left: -100%;
            bottom: 0%;
        }
    }

    @media (min-width: 767px) {
        .slick-custom-dots,.mobile{
            display: none;
        }
    }
}