body{
    cursor: default;
}

.page-header{
    font-family: Arial,"微軟正黑體", "Helvetica Neue", Helvetica, sans-serif;
    box-shadow: 0px 0px 5px 0px #404040;
    background-color: #f9f9f9;

    .web-logo{
        width: 227px;
        height: 76px;
        margin: 0px 30px;
    }

    .nav-item{
        a{
            color:#7a7a7a;
            font-weight: 900;
            &:hover{
                color:#000000
            }
        }
    }

    .dropdown-menu{
        li{
            &:hover{
                background-color: #55595C;

            }
        }
    }

    .coming-soon{
        background-color: #55595C;

        a{
            color: #000000;

            &:hover,&:active,&:focus{
                color: #000000;
                background-color: #55595C;
            }
        }
    }

    @media (max-width: 767px) {
        .web-logo{
            margin: 0px;
        }
    }
}

.content-wrapper{
    font-family: Arial,"微軟正黑體", "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
}

.page-footer{
    background-color: #353535;
    width: 100%;
    color:#bfbfbf;
    font-family: Arial,"微軟正黑體", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
    cursor: default;

    .row{
        margin: 0px !important;
    }

    .google-map-iframe{
        border: 0px;
        width: 100%;
        height: 222px;
    }

    .horizontal-line{
        width: 100%;
        border-top: 1px solid #7a7a7a;
    }

    .list-row,.contact-row,.map-row{
        color:#ffffff;
    }
    
    .list-row{
        .list-column{
            padding: 0px;  
            list-style-type: none;
            float: left;
            width: 50%;

            li{
                font-size: 16px;
                padding: 10px 0px;
                cursor: pointer;

                i{
                    margin-right: 5px;
                }
            }
        }
    }

    .contact-row{
        .contact-item{
            padding-top: 1rem;

            i{
                margin-right: 15px;
            }
        }
    }

    .icon-warpper{
        text-align: end;
        .quick-link{
            padding: 0.2em;
            font-size: 33px;
            color:#ffffff;

            &:hover,&:active,&:focus{
                color:#ffffff;
            }
        }
    }

    .footer-content{
        padding: 15px 30px;

        .title{
            font-size: 24px;
            font-weight: 900;
        }
    }

    @media (max-width: 767px) {
        .footer-content{
            padding: 15px 0px;
        }

        .icon-warpper{
            text-align: center;
        }
    }
}

.afc_popup{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    div{
        margin-bottom: 10px;
    }
}

.hidden-phone{
    display: none;
}
.hidden-desktop{
    display: block;
}

@media (max-width: 767px) {
    .hidden-phone{
        display: block;
    }
    .hidden-desktop{
        display: none;
    }
}

@import 'index';
@import 'freshGraduateLoan';
@import 'engineerLoan';
@import 'invest';
@import 'transfer';