.qaPage-wrapper{
    .qaPage-header{
        .header-title{
            width: 100%;
            overflow: hidden;
            position: relative;
            height: 210px;
    
            img{
                position: absolute;
                height: 210%;
            }
            
            .title{
                position: absolute;
                top: 35%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: #ffffff;
                font-weight: bolder;
                font-size: 33px;
            }

            .qa-btn-row{
                position: absolute;
                left: 50%;
                top: 65%;
                transform: translate(-50%, -50%);
                width: fit-content;

                a{
                    border: 2px solid #ffffff;
                    padding: 10px 20px;
                    margin: 0px 30px;
                    color: #ffffff;

                    &:hover{
                        text-decoration: none;
                    }
                }
            }

        @media (max-width:767px) {
            height: 340px;

            .title{
                top: 15%;
            }

            .qa-btn-row{
                top: 60%;
                display: grid;

                a{
                    margin: 20px 30px;
                }
            }
        }
        }
    }

    .back-top{
        background: #ebebeb;
        position: fixed;
        top: 13%;
        right: 10px;
        transform: rotate(90deg);
        padding: 0px 8px;
        font-size: 25px;
        border-radius: 30px;
        z-index: 1;
        color: #00bd77;
        box-shadow: 0 0 12px black;
    }
}