body {
    cursor: default;
    font-family: Arial, "微軟正黑體", "蘋果儷中黑", "Helvetica Neue", Helvetica, sans-serif;
}

#event_wrapper {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background: #e6e6e6;
    position: relative;

    .user-form {
        right: 0;
        top: 0;
        position: absolute;
        z-index: 1;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        background: #ffffff;
        box-shadow: 3px 3px 3px #8dc9ff;

        .form-style {
            color: #093b6f;
            font-weight: bolder;
        }
    }

    .game {
        overflow: hidden;
        position: relative;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50%;
        border-bottom: 2px solid #696969;

        #wheel-content {
            position: relative;
            justify-content: center;
            align-items: center;
            display: flex;
            transform: rotate(45deg) translateY(-900px);
            opacity: 0.9;

            .wheel {
                margin: 30px auto;
                width: 520px;
                height: 520px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #000000;
                box-shadow: 0px 0px 0px 20px #093b6f;
                border-radius: 50%;
                transition: transform 3s ease-in-out;

                #prize-box {
                    width: 497px;
                    height: 497px;
                    border-radius: 50%;
                    z-index: 4;
                    position: absolute;
                    overflow: hidden;

                    .prize {
                        width: 50%;
                        height: 50%;
                        background-color: #c3c3c3;
                        color: #ffffff;
                        position: absolute;
                        top: 0;
                        right: 0;
                        transform-origin: 0 100%;
                        text-shadow: 0 0 6px black;

                        &:nth-of-type(2n) {
                            background-color: #e2e2e2;
                        }

                        &.active {
                            background-color: #0072ff !important;
                            color: white;
                        }

                        .prize-content {
                            top: 38%;
                            left: 16%;
                            width: 100px;
                            height: 100px;
                            display: flex;
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;

                            .prize-icon i {
                                font-size: 32px;
                            }
                        }
                    }
                }
            }

            .pointer {
                border-left: 40px solid transparent;
                border-right: 40px solid transparent;
                border-top: 75px solid #ff7c00;
                border-radius: 50%;
                filter: drop-shadow(0px 0px 2px #000000);
                position: absolute;
                display: flex;
                top: -20px;
                z-index: 5;
            }

            #hand {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 6s cubic-bezier(0.1, 0.05, 0.1, 1) 0s;
                z-index: 20;
                transform: rotate(45deg);

                .press {
                    height: 105px;
                    width: 105px;
                    border-radius: 50%;
                    padding: 0;
                    font-size: 22px;
                    z-index: 20;
                    font-family: unset;
                    border: 2px solid;
                    filter: drop-shadow(0 0 8px #68c0ff);
                    text-align: center;
                }

                .press.disabled {
                    opacity: 0.65;
                }
            }
        }
    }

    .awards-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: none;
        z-index: 3;

        .awards-canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-repeat: no-repeat;
            background-size: 100% 100vh;
            opacity: 0.95;
        }

        .awards-dailog {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            height: 80vh;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            text-align: center;
            line-height: 80vh;
            filter: drop-shadow(2px 4px 6px #3500ff);
        }
    }

    .link-content {
        display: flex;
        width: fit-content;
        margin: 10px auto;
        padding: 10px;
        position: relative;

        .form {
            display: flex;

            .info {
                position: relative;
                width: 250px;
                height: 250px;
                margin: 20px;
                padding: 15px;
                text-align: justify;
                background: #ffdf00;
                box-shadow: 4px 4px #ff8b00;
                color: #31466b;
                font-weight: bolder;
                line-height: 57px;
            }

            .hexagon {
                top: 50px;
                width: 230px;
                height: 120px;
                background: #31466b;
                position: relative;
                margin: 35px;
                filter: drop-shadow(4px 4px 0px #292942);
                text-align: center;
                line-height: 120px;
                font-weight: bolder;
                font-size: 30px;
                color: #ffffff;
                transform: rotate(180deg);
                opacity: 0;
                cursor: pointer;

                &:hover {
                    color: #ffffff;
                    text-decoration: none;
                }

                &:before {
                    content: "";
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: -70px;
                    left: 0;
                    border-left: 115px solid transparent;
                    border-right: 115px solid transparent;
                    border-bottom: 70px solid #31466b;
                }

                &:after {
                    content: "";
                    width: 0;
                    height: 0;
                    position: absolute;
                    bottom: -70px;
                    left: 0;
                    border-left: 115px solid transparent;
                    border-right: 115px solid transparent;
                    border-top: 70px solid #31466b;
                }
            }
        }
    }

    .event-info {
        padding: 10px;
        text-align: center;
        font-size: 16px;
    }

    @media screen and (max-width: 767px) {
        .game {
            background-size: 255%;
            height: 360px;

            #wheel-content {
                top: 30px;

                .wheel {
                    width: 300px;
                    height: 300px;
                    margin: 0px auto;

                    #prize-box {
                        width: 270px;
                        height: 270px;
                        
                        .prize {
                            .prize-content {
                                top: 32%;
                                left: 4%;
                                width: 100px;
                                height: 100px;
                            }
                        }
                    }
                }

                .pointer {
                    top: -40px;
                }

                #hand {
                    .press {
                        height: 70px;
                        width: 70px;
                        font-size: 16px;
                    }
                }
            }
        }

        .user-form {
            position: relative;
        }

        .link-content {
            width: 100%;

            .form {
                flex-direction: column;
                width: 50%;

                .hexagon {
                    top: 25px;
                    order: 1;
                    margin: 15px;
                    width: 150px;
                    height: 80px;
                    line-height: 80px;
                    font-size: 24px;

                    &:before {
                        top: -44px;
                        border-left: 75px solid transparent;
                        border-right: 75px solid transparent;
                        border-bottom: 45px solid #31466b;
                    }

                    &:after {
                        bottom: -44px;
                        border-left: 75px solid transparent;
                        border-right: 75px solid transparent;
                        border-top: 45px solid #31466b;
                    }
                }

                .info {
                    order: 2;
                    width: 160px;
                    height: 160px;
                    margin: 75px 10px 10px 10px;
                    font-size: 10px;
                    text-align: justify;
                    line-height: 30px;
                }
            }
        }

        .event-info {
            padding: 10px;
            font-size: 10px;
        }

        .awards-block {
            .awards-dailog {
                width: 100%;
                height: 50vh;
                line-height: 50vh;
            }
        }
    }
}

#loginForm {
    .modal-dialog {
        top: 40%;
        transform: translate(0%, -50%);
    }

    .modal-content {
        font-family: Arial, "微軟正黑體", "蘋果儷中黑", "Helvetica Neue", Helvetica, sans-serif;

        %basic {
            border-radius: 50px;
            width: 60%;
            height: 30px;
            line-height: 19px;
            font-size: 18px;
            font-weight: bolder;
        }

        .modal-header {
            display: initial !important;
            border-bottom: none;
            padding-bottom: 0px;
            .close {
                float: right;
            }

            .back {
                background: #ffffff00;
                border: 0;
                font-size: 27px;
                position: absolute;
                top: 5px;
                left: 5px;
                color: #868686;
            }

            .register-title {
                font-weight: bolder;
                font-size: 19px;
                width: max-content;
                margin: 0px auto;
            }
        }

        .modal-body {
            margin: 0px auto;
            padding: 0px 1rem;

            .input-group {
                margin: 10px;
                width: auto;
            }

            .checked {
                border-bottom: 2px solid #003cab !important;
            }

            .label-text {
                line-height: 30px;
                background-color: #ffffff00 !important;
                border: none !important;
                border-radius: 0px !important;
                text-align: end !important;
                width: 80px;
            }

            .label-input {
                border-radius: 39px;
                font-size: 14px;
                height: 30px;
            }

            .register-row {
                text-align: center;
                margin-bottom: 0px;
                font-weight: 700;

                .register-link {
                    text-decoration: underline;

                    &:hover {
                        cursor: pointer;
                        color: #0043ff;
                    }
                }
            }

            .captcha-row {
                position: relative;
                display: flex;
                width: 79%;
            }

            .btn-captcha {
                background: #00adff;
                border-radius: 50px;
                line-height: 15px;
                color: #ffffff;
                font-size: 16px;
                margin-left: 20px;
                width: 175px;

                &:hover {
                    background: #0040d0;
                }
            }

            .terms {
                color: #0072ff;
                text-decoration: underline;
                cursor: pointer;
            }

            .tip {
                position: absolute;
                bottom: -17px;
                right: 36px;
                font-size: small;
                color: red;
            }

            .row {
                margin: 0px;
            }
        }

        .alert-danger {
            font-weight: bolder;
            text-align: center;
        }

        .modal-footer {
            border-top: none;
            justify-content: center;
            padding-top: 10px;

            .btn-submit {
                @extend %basic;
                background: #005aff;
                color: #ffffff;

                &:hover {
                    background: #003cab;
                }
            }
        }

        .btn-disable {
            @extend %basic;
            width: 100%;
            background: #d5d5d5;
            color: #969696;
            cursor: default;
        }

        .login-logo {
            width: 28%;
            margin: 0px auto;
        }
    }

    @media screen and (max-width: 767px) {
        .modal-content {
            .modal-body {
                .captcha-row {
                    width: 100%;
                }

                .input-group {
                    display: block;

                    .form-control {
                        width: 100%;
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #a7a7a7;
}
::-webkit-scrollbar-track-piece {
    background: #ffffff;
}
::-webkit-scrollbar-corner {
    background: #ffffff;
}

@import "../frontdesk/inputStyle";
