<Limit GET>
    order deny,allow
    deny from all
    #    allow from 114.34.172.44, 13.112.224.83, 52.194.4.73, 18.179.183.180
    allow from all
</Limit>
AuthName "PrivatePage"
AuthType Basic
AuthUserFile "/var/www/html/private/.htpasswd"
require valid-user
