.repayment-card {
    overflow: auto;
    position: relative;
    .info-card {
        border-radius: 15px;
        box-shadow: 0 0 9px #000000;
        background: #545454;
        margin: 10px 5px;
        float: left;
        width: 390px;

        .circle {
            position: relative;
            margin: 0px auto;
            width: fit-content;

            .period {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                font-size: 22px;
                color: #ffffff;
            }
        }

        .delay-memo {
            border-left: 2px solid red;
            margin: 5px 15px;
            padding: 0px 10px;
        }
    }

    .head-title {
        margin: 10px 10px 10px 0px;
        overflow: auto;
        padding: 8px;
        background: #ffffff;
        border-radius: 6px;
        width: 245px;

        .detail {
            color: #000a82;
            font-weight: bolder;
        }
    }

    .no-data {
        display: grid;
        width: 45%;
        margin: 0px auto;

        img {
            opacity: 0.5;
        }

        a {
            text-align: center;
            color: #000000;
            font-weight: bolder;
            font-size: 22px;
            margin-top: 15px;
        }
    }

    @media screen and (max-width: 1023px) {
        .info-card {
            width: 97%;

            .circle {
                height: 175px;

                .period {
                    font-size: 16px;
                }
            }
        }

        .head-title {
            width: 69%;
            margin: 10px 10px 10px 0px;
        }
    }
}
