.engineer-wrapper{
    width: 100%;

    .engineer-slick{
        padding: 50px 0px;

        @extend %slick-style;

        .slick-item{
            margin: 0px 10px;
            cursor: default;
        }

        .slick-list{
            width: 100%;
        }
        
        @media (min-width: 767px) {
            .slick-custom-dots{
                display: none;
            }
        }
    }

    @media (max-width:767px) {
        .banner-content p{
            text-align: left !important;
        }

        .apply-title p{
            width: 80% !important;
        }
    }
}