.freshGraduate-wrapper{
    .loan-banner{
        img{
            bottom: -95%;
            width: 110%;
        }

        @media (max-width: 1024px) {
            img {
                bottom: -45%;
            }
        }
    
        @media (max-width: 1023px){
            img {
                left: 0%;
                bottom: -10%;
            }
        }

        @media (max-width: 767px){
            img {
                left: -49%;
                bottom: -10%;
                width: auto;
            }
        }
    }
    
    .img-wrapper{
        width: 100%;
        padding: 0px 5%;
    
        @media (max-width:767px) {
            .desktop{
                display: none;
            }
        }
    
        @media (min-width:767px) {
            .mobile{
                display: none;
            }
        }
    }
}
