@import "../../js/frontdesk/component/alesis/alesis";
html {
    height: 100vh;
}

body {
    cursor: default;
    font-family: Arial, "微軟正黑體", "蘋果儷中黑", "Helvetica Neue", Helvetica,
        sans-serif;
    width: 100%;
}

a {
    color: #000000;
}

$ci-color: #153a71;

.highlight {
    background-color: yellow;
}

.page-header {
    z-index: 11;
    background-image: linear-gradient(
        to right,
        #1e2973 0%,
        #319acf 36%,
        #1e2973 73%
    );

    .web-logo {
        width: 180px;
        margin: 5px;
    }

    .navbar-toggler {
        color: #ffffff;
    }

    .greeting {
        display: none;
        margin: -43px 0 0 0;

        .dialog {
            background-size: 80px;
            width: 80px;
            height: 30px;
            background-repeat: no-repeat;
            margin: 0px 0 0 48px;
            font-size: 14px;
            position: absolute;
        }

        .dialog::after {
            content: "\9EDE\6211!!\9EDE\6211!!";
            padding: 0 7px 0 7px;
            font-size: 12px;
            font-weight: bolder;
            color: #ffffff;
            text-decoration: unset;
        }

        .head {
            position: absolute;
            z-index: 996;
        }
        .body {
            z-index: 998;
            position: absolute;
        }
        .left {
            position: absolute;
            margin: 40px 0 0 30px;
            z-index: 997;
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
            transition: transform 0.2s;
            transform-origin: left bottom;
        }
        .left.shake {
            -moz-transform: rotate(15deg);
            -webkit-transform: rotate(15deg);
            -o-transform: rotate(15deg);
            -ms-transform: rotate(15deg);
            transform: rotate(15deg);
        }
        .right {
            position: absolute;
            margin: 39px 0 0 0;
            z-index: 997;
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
            transition: transform 0.2s;
            transform-origin: right bottom;
        }
        .right.shake {
            -moz-transform: rotate(-15deg);
            -webkit-transform: rotate(-15deg);
            -o-transform: rotate(-15deg);
            -ms-transform: rotate(-15deg);
            transform: rotate(-15deg);
        }
    }

    .event {
        text-align: center;
        background: #ffde39;
        color: #ffffff;
        font-weight: 900;
        padding: 5px;
        border-radius: 10px;
        margin-left: 20px;

        &:hover {
            text-decoration: none;
            background: red;
        }
    }

    .nav-item {
        a,
        p {
            white-space: nowrap;
            color: #ffffff;
            font-weight: 900;
            width: initial;
            margin: 0px 5px;
            cursor: pointer;
        }

        .l {
            border-radius: 6px;
            background: #2c4c9b;
            padding: 5px;
            border: solid 1.5px #1d82be;
            color: #e0e0e0;
        }

        .dropdown-item {
            color: $ci-color;
        }
    }

    .coming-soon {
        background-color: #55595c;

        a {
            color: #000000 !important;

            &:hover,
            &:active,
            &:focus {
                color: #000000;
                background-color: #55595c;
            }
        }
    }

    .invest-link {
        background: linear-gradient(180deg, #007eff, #0e00e4);
        color: #ffffff !important;
        border-radius: 4px;
    }

    .loan-link {
        background: linear-gradient(180deg, #ffeb00, #ffbc00);
        color: #ffffff !important;
        border-radius: 4px;
    }

    @media (max-width: 767px) {
        min-height: 84px;

        .nav-item {
            .l {
                padding: 10px;
                margin: 5px;
            }
        }
        .web-logo {
            width: 110px;
            margin: 15px 0px;
        }

        .event {
            position: absolute;
            font-size: 10px;
            right: 70px;
            top: 18px;
        }
        .greeting {
            display: none;
            margin: -35px 0 0 -66px;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content-wrapper {
    width: 100%;
    margin-top: 66px;
    overflow: auto;

    @include rwd {
        margin-top: 56px;
    }
}

.alesis-header {
    color: #fff;
    background-image: linear-gradient(
        to right,
        #1e2973 0%,
        #319acf 36%,
        #1e2973 73%
    );

    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;

    .logo {
        flex: 1;

        .image {
            height: 40px;
        }
    }

    .center {
        display: grid;
        align-items: center;
        justify-content: center;
        flex: 1;
        grid-template-columns: repeat(3, auto);
        gap: 0.5rem;
        text-align: center;
        font-size: 1.1rem;

        @include rwd {
            display: none;
        }

        .item {
            color: #fff;
            text-decoration: none;
        }

        .separator {
            .image {
                height: 50px;
                mix-blend-mode: screen;
            }
        }
    }

    .aside {
        display: grid;
        margin-left: auto;
        grid-template-columns: repeat(7, auto);
        gap: 2rem;
        font-size: 0.9rem;
        align-items: center;
        text-align: center;
        flex: 1;
        white-space: nowrap;
        justify-content: flex-end;

        @include rwd {
            grid-template-columns: 1fr;
            text-align: right;
        }

        .item {
            @include rwd {
                &:not(.hamburger) {
                    display: none;
                }
            }

            &.hamburger {
                display: none;

                @include rwd {
                    display: block;
                }

                img {
                    width: 20px;
                }
            }

            .login {
                background: #2c4c9b;
                color: #1d82be;
                border: 1px solid #1d82be;
                border-radius: 0.4rem;
                padding: 0.25rem 0.5rem;
                line-height: 1;
            }
        }
    }
}

.alesis-footer {
    background: #153a71;
    padding: 0.5rem 0;
    color: #fff;
    position: relative;

    @include rwd {
        padding: 0.5rem 2rem;
    }

    > .line {
        height: 1px;
        background: #2f95cb;
        max-width: 95%;
        margin: 1rem auto;
    }

    > .main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 1rem auto 0;
        max-width: 1280px;
        gap: 3rem;
        display: grid;
        grid-template-columns: 1fr 2fr;

        @include rwd {
            display: flex;
            flex-direction: column;
            max-width: 380px;
            align-items: center;
        }

        > .introduction {
            > .brand {
                display: flex;
                align-items: center;

                @include rwd {
                    justify-content: center;
                }

                > .text {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-right: 1rem;
                }

                > .image {
                    height: 40px;
                }
            }

            > .paragraphy {
                font-size: 0.9rem;
                line-height: 2;
                margin-top: 2rem;
            }
        }

        > .information {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 3rem;
            font-size: 0.9rem;

            @include rwd {
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                    "loan invest"
                    "loan about"
                    "contact contact";
                text-align: center;
                gap: 0rem 5rem;

                > .item:nth-child(1) {
                    grid-area: loan;
                }

                > .item:nth-child(2) {
                    grid-area: invest;
                }

                > .item:nth-child(3) {
                    grid-area: about;
                }

                > .item:nth-child(4) {
                    grid-area: contact;
                }
            }

            > .item {
                > .header {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-right: 1rem;
                    line-height: 2;
                    color: #fff;

                    @include rwd {
                        margin-right: 0rem;
                    }
                }

                > .list {
                    display: flex;
                    flex-direction: column;
                    font-size: 0.9rem;
                    margin-top: 1.5rem;

                    @include rwd {
                        margin-top: 0rem;
                    }

                    > a {
                        color: #fff;
                        margin: 0.25rem 0;

                        @include rwd {
                            margin: 0.7rem 0;
                        }
                    }
                }

                > .meta {
                    display: grid;
                    grid-template-columns: min-content max-content;
                    gap: 0.5rem;
                    margin-top: 2rem;

                    @include rwd {
                        width: min-content;
                        margin: 1rem auto 0;
                        gap: 1rem 0.5rem;
                    }

                    > .icon {
                        margin-top: -1px;

                        > img {
                        }
                    }

                    > .text {
                        @include rwd {
                            text-align: left;
                        }
                    }
                }

                > .socials {
                    margin-top: 0.7rem;

                    > .item {
                        margin-right: 0.2rem;
                    }
                }
            }
        }
    }

    > .secondary {
        margin: 4rem auto 1rem;
        max-width: 1280px;
        display: flex;
        align-items: flex-end;

        @include rwd {
            margin-top: 2rem;
            flex-direction: column-reverse;
            align-items: center;
        }

        .copyright {
            margin-right: 3rem;
            font-size: 0.8rem;

            @include rwd {
                margin-top: 1rem;
                margin-right: 0;
                text-align: center;
            }

            > .links {
                .item {
                    color: #fff;
                }
            }
        }

        > .links {
            > .item {
                color: #fff;
            }
        }

        .externals {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            display: inline-flex;
            border-radius: 0.7rem;
            overflow: hidden;

            .item {
                text-decoration: none;
                flex: 1;
                padding: 0.25rem 1rem;
                background: #326398;
                color: #fff;
                font-weight: bold;
                font-size: 1.1rem;

                &.-invest {
                    background: #fff;
                    color: #326398;
                }
            }
        }
    }
}

.page-footer {
    $font-color: #ffffff;

    background-color: $ci-color;
    width: 100%;
    color: $font-color;
    font-weight: 400;
    padding: 1rem 4rem;
    cursor: default;

    .btm-line {
        width: 90%;
        margin: 0px auto 2.5rem auto;
        border-bottom: solid 1px #2f95cb;
    }

    .top-content {
        display: flex;
        justify-content: space-between;

        a {
            color: $font-color;
        }

        %card {
            ul {
                padding: 0px;
                margin: 0px;

                li {
                    list-style: none;
                    margin-right: 0px;
                    margin-bottom: 10px;
                }
            }

            h2 {
                margin-bottom: 1.5rem;
            }
        }

        .desc-card {
            @extend %card;
            width: 30%;

            .d-a {
                display: flex;

                .img {
                    width: 100px;
                    margin-left: 10px;
                }
            }

            .cd {
                display: flex;

                .img {
                    width: 15%;
                }
                .cnt {
                    width: 85%;
                    background: #ffffff;
                    color: #153a71;
                    padding: 1rem 1rem 0px 1rem;
                    font-weight: 700;
                    border-radius: 20px;
                    position: relative;
                    margin-left: 25px;

                    &:before {
                        content: "";
                        width: 0px;
                        height: 0px;
                        border-right: 15px solid #ffffff;
                        border-top: 15px solid #ffffff00;
                        border-bottom: 15px solid #ffffff00;
                        position: absolute;
                        top: 23px;
                        left: -15px;
                    }

                    .c-s {
                        text-align: justify;
                    }
                }
            }
        }

        .loan-card {
            @extend %card;
            width: fit-content;
        }

        .invest-card {
            @extend %card;
            width: fit-content;
        }

        .support-card {
            @extend %card;
            width: fit-content;
        }

        .about-card {
            @extend %card;
            width: fit-content;

            .community {
                font-size: 25px;
                width: 100px;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    hr {
        width: 100%;
        border-top: 1px solid #ffffff00;
        margin: 30px auto;
    }

    .bottom-content {
        font-size: 18px;
        position: relative;
        text-align: center;

        a {
            color: $font-color;
        }

        .contact {
            a {
                margin: 0px 10px;
            }
        }

        .license {
            margin: 0px !important;
            text-align: left;
            position: absolute;
            bottom: 0px;
            left: 0px;

            p {
                font-size: 11px;
                width: 100%;
                margin: 0px !important;

                a {
                    color: $font-color;
                }
            }
        }
    }

    @media (max-width: 767px) {
        padding: 10px;

        .top-content {
            display: block;
            overflow: auto;

            %card {
                width: 50%;
                float: left;
                margin-bottom: 10px;

                h2 {
                    font-size: 30px;
                    margin-bottom: 0.5rem;
                }
            }

            .desc-card {
                .d-a {
                    justify-content: center;
                }

                .cd {
                    .cnt {
                        width: 80%;
                        margin-left: 15px;

                        &::before {
                            border-right: 16px solid #ffffff;
                            border-top: 16px solid #ffffff00;
                            border-bottom: 16px solid #ffffff00;
                            left: -14px;
                        }
                    }
                }
            }

            .desc-card,
            .about-card {
                width: 100%;
            }

            .loan-card,
            .invest-card,
            .support-card,
            .about-card {
                text-align: center;
            }

            .about-card {
                .community {
                    margin: 0px auto;
                }
            }
        }

        hr {
            margin: 15px auto;
        }

        .bottom-content {
            .contact {
                font-size: 14px;
                margin-bottom: 10px;
                a {
                    margin: 0px 4px;
                }
            }

            .license {
                position: relative;
                text-align: center;
            }
        }
    }
}

.modal-backdrop {
    filter: blur(100px);
}

#loginForm {
    .modal-dialog {
        top: 40%;
        transform: translate(0%, -50%);
    }
}

%modal-style {
    font-family: Arial, "微軟正黑體", "蘋果儷中黑", "Helvetica Neue", Helvetica,
        sans-serif;

    .modal-header {
        display: initial !important;
        border-bottom: none;
        padding-bottom: 0px;
        .close {
            float: right;
        }
    }

    .modal-body {
        width: 80%;
        margin: 0px auto;
        padding: 0px 1rem;

        .input-group {
            margin: 10px;
            width: auto;
        }

        .checked {
            border-bottom: 2px solid #003cab !important;
        }

        .label-text {
            line-height: 30px;
            background-color: #ffffff00 !important;
            border: none !important;
            border-radius: 0px !important;
            text-align: end !important;
            width: 80px;
        }

        .label-input {
            border-radius: 39px;
            font-size: 14px;
            height: 30px;
        }

        .captcha-row {
            position: relative;
            display: flex;
            width: 70%;
        }
    }

    .modal-footer {
        border-top: none;
        justify-content: center;
        padding-top: 10px;

        %basic {
            border-radius: 50px;
            width: 30%;
            height: 34px;
            line-height: 19px;
            font-size: 16px;
            font-weight: bolder;
            margin: 0px 1rem;
        }

        .btn-submit {
            @extend %basic;
            background: #003cab;
            color: #ffffff;

            &:hover {
                color: #003cab;
                background: #ffffff;
                border: 2px solid #003cab;
            }
        }

        .btn-register {
            @extend %basic;
            background: #ffffff;
            border: 2px solid #003cab;
            color: #003cab;

            &:hover {
                color: #ffffff;
                background: #003cab;
            }
        }
    }

    .btn-disable {
        @extend %basic;
        background: #d5d5d5;
        color: #969696;
        cursor: default;
    }
}

#loginModal {
    @extend %modal-style;

    .login-logo {
        width: 28%;
        margin: 0px auto;
    }

    .btn-switch {
        width: 50%;
        border-bottom: 1px solid #005aff;
        border-radius: 0px;
        font-weight: bolder;

        &:focus {
            box-shadow: 0 0 #ffffff00;
        }
    }

    .checked {
        border-bottom: 2px solid #003cab !important;
    }

    .btn-password {
        position: absolute;
        right: 0;
        padding: 3px 0px;
        color: #005aff;
    }

    @media screen and (max-width: 767px) {
        .modal-body {
            width: 100%;
        }

        .captcha-row {
            width: 100%;
        }
    }
}

#forgetPwdModal {
    @extend %modal-style;

    .back {
        background: #ffffff00;
        border: 0;
        font-size: 27px;
        position: absolute;
        top: 5px;
        left: 5px;
        color: #868686;

        &:hover {
            color: #000000;
        }
    }

    .modal-body {
        width: 100% !important;

        .btn-disable {
            margin-left: 10px;
            width: 100%;
        }
    }

    .reset-title {
        font-weight: bolder;
        font-size: 19px;
        width: max-content;
        margin: 0px auto;
    }

    .label-text {
        width: 130px !important;
    }

    .btn-captcha {
        background: #00adff;
        border-radius: 50px;
        line-height: 15px;
        color: #ffffff;
        font-size: 16px;
        margin-left: 20px;
        width: 175px;

        &:hover {
            background: #0040d0;
        }
    }

    .tip {
        position: absolute;
        bottom: -17px;
        right: 36px;
        font-size: small;
        color: red;
    }

    @media screen and (max-width: 767px) {
        .input-group {
            display: table;
            width: 100% !important;
            margin: 10px auto !important;
        }
    }
}

.back-top {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 4px;
    z-index: 10;
    cursor: pointer;
    width: 35px;
    background: #ffffff;
    box-shadow: 1px 2px 2px #737373;
    opacity: 0.8;
}

.alert-danger {
    font-weight: bolder;
    text-align: center;
}

.hidden-phone {
    display: none !important;
}
.hidden-desktop {
    display: block !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #a7a7a7;
}
::-webkit-scrollbar-track-piece {
    background: #ffffff00;
}
::-webkit-scrollbar-corner {
    background: #ffffff00;
}

.grecaptcha-badge {
    z-index: 2;
    display: none;
}

@media (max-width: 767px) {
    .hidden-phone {
        display: block !important;
    }
    .hidden-desktop {
        display: none !important;
    }

    .blog-quiklink {
        margin-top: 260px;
    }
}

@import "contentPage";
@import "inputStyle";
