body {
    cursor: default;
    font-family: Arial, "微軟正黑體", "蘋果儷中黑", "Helvetica Neue", Helvetica, sans-serif;
}

a {
    color: #000000;
}

$ci-color: #153a71;

.page-header {
    z-index: 11;
    background-image: linear-gradient(to right, #1e2973 0%, #319acf 36%, #1e2973 73%);

    .web-logo {
        width: 12%;
        margin: 5px;
    }

    .navbar-toggler {
        color: #ffffff;
    }

    .event {
        text-align: center;
        background: #ffde39;
        color: #ffffff;
        font-weight: 900;
        padding: 5px;
        border-radius: 10px;
        margin-left: 20px;

        &:hover {
            text-decoration: none;
            background: red;
        }
    }

    .nav-item {
        a,
        p {
            white-space: nowrap;
            color: #ffffff;
            font-weight: 900;
            width: initial;
            margin: 0px 5px;
            cursor: pointer;
        }

        .l {
            border-radius: 6px;
            background: #2c4c9b;
            padding: 5px;
            border: solid 1.5px #1d82be;
            color: #1d82be;
        }

        .dropdown-item {
            color: $ci-color;
        }
    }

    .coming-soon {
        background-color: #55595c;

        a {
            color: #000000 !important;

            &:hover,
            &:active,
            &:focus {
                color: #000000;
                background-color: #55595c;
            }
        }
    }

    .invest-link {
        background: linear-gradient(180deg, #007eff, #0e00e4);
        color: #ffffff !important;
        border-radius: 4px;
    }

    .loan-link {
        background: linear-gradient(180deg, #ffeb00, #ffbc00);
        color: #ffffff !important;
        border-radius: 4px;
    }

    @media (max-width: 767px) {
        min-height: 84px;

        .nav-item {
            .l {
                padding: 10px;
                margin: 5px;
            }
        }
        .web-logo {
            width: 110px;
            margin: 15px 0px;
        }

        .event {
            position: absolute;
            font-size: 10px;
            right: 70px;
            top: 18px;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content-wrapper {
    width: 100%;
    margin-top: 74px;
    overflow: auto;
}

.page-footer {
    $font-color: #ffffff;

    background-color: $ci-color;
    width: 100%;
    color: $font-color;
    font-weight: 400;
    padding: 1rem 4rem;
    cursor: default;

    .btm-line {
        width: 90%;
        margin: 0px auto 2.5rem auto;
        border-bottom: solid 1px #2f95cb;
    }

    .top-content {
        display: flex;
        justify-content: space-between;

        a {
            color: $font-color;
        }

        %card {
            ul {
                padding: 0px;
                margin: 0px;

                li {
                    list-style: none;
                    margin-right: 0px;
                    margin-bottom: 10px;
                }
            }

            h2 {
                margin-bottom: 1.5rem;
            }
        }

        .desc-card {
            @extend %card;
            width: 30%;

            .d-a {
                display: flex;

                .img {
                    width: 48px;
                    margin-left: 10px;
                }
            }
        }

        .loan-card {
            @extend %card;
            width: fit-content;
        }

        .invest-card {
            @extend %card;
            width: fit-content;
        }

        .support-card {
            @extend %card;
            width: fit-content;
        }

        .about-card {
            @extend %card;
            width: fit-content;

            .community {
                font-size: 25px;
                width: 100px;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    hr {
        width: 100%;
        border-top: 1px solid #ffffff00;
        margin: 30px auto;
    }

    .bottom-content {
        font-size: 18px;
        position: relative;
        text-align: center;

        a {
            color: $font-color;
        }

        .contact {
            a {
                margin: 0px 10px;
            }
        }

        .license {
            margin: 0px !important;
            text-align: left;
            position: absolute;
            bottom: 0px;
            left: 0px;

            p {
                font-size: 11px;
                width: 100%;
                margin: 0px !important;

                a {
                    color: $font-color;
                }
            }
        }
    }

    @media (max-width: 767px) {
        padding: 10px;

        .top-content {
            display: block;
            overflow: auto;

            %card {
                width: 50%;
                float: left;
                margin-bottom: 10px;

                h2 {
                    font-size: 30px;
                    margin-bottom: 0.5rem;
                }
            }

            .desc-card {
                .d-a {
                    justify-content: center;
                }
            }

            .desc-card,
            .about-card {
                width: 100%;
            }

            .loan-card,
            .invest-card,
            .support-card,
            .about-card {
                text-align: center;
            }

            .about-card {
                .community {
                    margin: 0px auto;
                }
            }
        }

        hr {
            margin: 15px auto;
        }

        .bottom-content {
            .contact {
                font-size: 14px;
                margin-bottom: 10px;
                a {
                    margin: 0px 4px;
                }
            }

            .license {
                position: relative;
                text-align: center;
            }
        }
    }
}

.blog-quiklink {
    float: right;
    margin-top: 254px;
    z-index: 12;
    position: absolute;
    right: 10px;
    color: #ff5151;
    display: flex;
    animation: float 4s ease-in-out infinite;
    filter: drop-shadow(0px 0px 5px black);

    i {
        cursor: pointer;
    }

    &:hover {
        text-decoration: none;
        color: #ff5151;
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}

#loginForm {
    .modal-dialog {
        top: 40%;
        transform: translate(0%, -50%);
    }
}

%modal-style {
    font-family: Arial, "微軟正黑體", "蘋果儷中黑", "Helvetica Neue", Helvetica, sans-serif;

    %basic {
        border-radius: 50px;
        width: 60%;
        height: 30px;
        line-height: 19px;
        font-size: 18px;
        font-weight: bolder;
    }

    .modal-header {
        display: initial !important;
        border-bottom: none;
        padding-bottom: 0px;
        .close {
            float: right;
        }
    }

    .modal-body {
        width: 80%;
        margin: 0px auto;
        padding: 0px 1rem;

        .input-group {
            margin: 10px;
            width: auto;
        }

        .checked {
            border-bottom: 2px solid #003cab !important;
        }

        .label-text {
            line-height: 30px;
            background-color: #ffffff00 !important;
            border: none !important;
            border-radius: 0px !important;
            text-align: end !important;
            width: 80px;
        }

        .label-input {
            border-radius: 39px;
            font-size: 14px;
            height: 30px;
        }

        .captcha-row {
            position: relative;
            display: flex;
            width: 70%;
        }
    }

    .modal-footer {
        border-top: none;
        justify-content: center;
        padding-top: 10px;

        .btn-submit {
            @extend %basic;
            background: #005aff;
            color: #ffffff;

            &:hover {
                background: #003cab;
            }
        }
    }

    .btn-disable {
        @extend %basic;
        background: #d5d5d5;
        color: #969696;
        cursor: default;
    }
}

#loginModal {
    @extend %modal-style;

    .login-logo {
        width: 28%;
        margin: 0px auto;
    }

    .btn-switch {
        width: 50%;
        border-bottom: 1px solid #005aff;
        border-radius: 0px;
        font-weight: bolder;

        &:focus {
            box-shadow: 0 0 #ffffff00;
        }
    }

    .checked {
        border-bottom: 2px solid #003cab !important;
    }

    .btn-password {
        position: absolute;
        right: 0;
        padding: 3px 0px;
        color: #005aff;
    }

    @media screen and (max-width: 767px) {
        .modal-body {
            width: 100%;
        }

        .captcha-row {
            width: 100%;
        }
    }
}

#forgetPwdModal {
    @extend %modal-style;

    .back {
        background: #ffffff00;
        border: 0;
        font-size: 27px;
        position: absolute;
        top: 5px;
        left: 5px;
        color: #868686;

        &:hover {
            color: #000000;
        }
    }

    .modal-body {
        width: 100% !important;

        .btn-disable {
            margin-left: 10px;
            width: 100%;
        }
    }

    .reset-title {
        font-weight: bolder;
        font-size: 19px;
        width: max-content;
        margin: 0px auto;
    }

    .label-text {
        width: 130px !important;
    }

    .btn-captcha {
        background: #00adff;
        border-radius: 50px;
        line-height: 15px;
        color: #ffffff;
        font-size: 16px;
        margin-left: 20px;
        width: 175px;

        &:hover {
            background: #0040d0;
        }
    }

    .tip {
        position: absolute;
        bottom: -17px;
        right: 36px;
        font-size: small;
        color: red;
    }

    @media screen and (max-width: 767px) {
        .input-group {
            display: table;
            width: 100% !important;
            margin: 10px auto !important;
        }
    }
}

.back-top {
    display: none;
    position: fixed;
    bottom: 85px;
    right: 10px;
    padding: 4px;
    z-index: 10;
    cursor: pointer;
    width: 35px;
    background: #ffffff;
    box-shadow: 1px 2px 2px #737373;
    opacity: 0.8;
}

.alert-danger {
    font-weight: bolder;
    text-align: center;
}

.hidden-phone {
    display: none !important;
}
.hidden-desktop {
    display: block !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #a7a7a7;
}
::-webkit-scrollbar-track-piece {
    background: #ffffff00;
}
::-webkit-scrollbar-corner {
    background: #ffffff00;
}

.grecaptcha-badge {
    z-index: 2;
    display: none;
}

@media (max-width: 767px) {
    .hidden-phone {
        display: block !important;
    }
    .hidden-desktop {
        display: none !important;
    }

    .blog-quiklink {
        margin-top: 260px;
    }
}

@import "contentPage";
@import "inputStyle";
