.terms-wrapper {
    padding: 30px;
    color: #717171;
    background: #1a66a7;

    .terms-page {
        width: 29.7cm;
        min-height: 48cm;
        background: #ffffff;
        box-shadow: 0 0 7px black;
        border-radius: 5px;
        padding: 20px;
        margin: 0px auto;
    }
}
